#context-menu li.selected,
#context-menu li.candy-namecomplete-option:hover {
    background-color: #29303C;
}

#context-menu li.candy-namecomplete-option {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
}